body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1,h4 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#id_overview {
    height: 150px;
}

div.xAxis div.tickLabel 
{    
    transform: rotate(-60deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-60deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
    margin-top: 25px;
}

#legendcontainer {
    /*margin-left: 30%;*/
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*display: inline-block;*/
    /*float: right;*/
}

/*.legendLabel {*/
    /*width: 95px;*/
/*}*/
