extends layout

block content
  h1= title
  h4= "Indoor Temperature Chart"
  #legendcontainer
  .demo-container
    #placeholder.demo-placeholder
  h4= "Overview Selector"
  #id_overview.demo-container
    #overview.demo-placeholder
  h4= "Weather Chart"
  #legendcontainerweather
  .demo-container
    #weatherchart.demo-placeholder
