doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='javascripts/flot/examples/examples.css')
    script(type='text/javascript', src='javascripts/flot/jquery.js')
    script(type='text/javascript', src='javascripts/flot/jquery.flot.js')
    script(type='text/javascript', src='javascripts/flot/jquery.flot.time.js')
    script(type='text/javascript', src='javascripts/flot/jquery.flot.selection.js')
    script(type='text/javascript', src='javascripts/flot/jquery.flot.fillbetween.js')
    script(type='text/javascript', src='javascripts/flot/jquery.flot.crosshair.js')
    script(type='text/javascript', src='javascripts/graphs.js')
  body
    block content
